body{
background-color: antiquewhite;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500&family=Urbanist:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

nav{
    
    font-family: 'Urbanist', sans-serif;
    font-family: 'Varela', sans-serif;
    position: sticky;
    top: 0px;
    z-index: 2;
}
nav ul {
    height:65px ;
    background-color: black;
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0px 12px;
    cursor: pointer;
    list-style:none ;
    
}
nav ul li a {
    text-decoration: none;
    
    font-family: 'Varela', sans-serif;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    
}
nav ul li a:hover{
    color:#1DB954;
}

#margin-left{
    margin-left: -23px;
}
/* nav ul li span {
     transition: 0.3s ease;
    padding: 7px;
}

nav ul li span:hover{
    color: #1cca27;
} */

/* .search-icon{
    transition: 0.3s ease;
}
.search-icon:hover{
    color: #1cca27;


} */

/* nav ul li input {
    outline: none;
    height: 35px;
    width: 230px;
    font-size: 15px;
    border-radius: 20px;
    border-color:black;
    padding: 5px;
    background-color:#f9f9f9 ;
    transition: 0.5s;
    box-shadow: 0px 0px 2px 3px white;
    font-family: 'Varela', sans-serif;
}
nav ul li input:hover{
    border-color:#1DB954;

} */

.brand img{
    width: 44px;
    padding: 0px 8px;
    
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 75.30vh;
    background-color: black;
    font-family: 'Varela', sans-serif;
    color: white;
    width: 70%;
    display: flex;
    margin: 18px auto;
    border-radius: 12px;
    padding: 34px;
    box-sizing: border-box;
    background-image: url(bg.jpg);
    background-size: cover;

}

.bottom{
    position: sticky;
    bottom: 0px;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom input {
    cursor: pointer;
    filter: hue-rotate(290deg);
    margin-top: 30px;
}
.icons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
}
.icons i {
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    
}
#progress-bar{
    width: 80%;
}


.song-item{
    
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    border-radius: 34px;
}
.song-item img{
width: 43px;
margin: 0px 23px;
border-radius: 34px;
}

.time-stamp{
    margin: 0px 23px;
}

.time-stamp i {
    cursor: pointer;
}
.song-info{
    color: white;
    position: absolute;
    left: 10%;
    font-family: 'Varela', sans-serif;
}
.song-info img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#repeat{
    font-size: large;
}
.fa-solid{
    text-transform: lowercase;
}

.loop{
    position: absolute;
    top: 78px;
    right: 600px;
    cursor: pointer;
}

/* <--------------------------HOME PAGE---------------------------> */



.playlists-container{
    width:65%;
    min-height: 115vh;
    border: 1px solid white;
  text-align: left;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    background-color:#333232;
    border-radius: 12px;
    position: relative;
    

}


.top-playlists{
    
    font-size: 30px;
    color: white;
    font-family: 'Varela', sans-serif;
    font-weight: 600;
}
.playlist-row{
 width: 100%;       
 display: flex;
 flex-direction: row;
 list-style-type: none;
   gap: 8px;
    /* border: 1px solid white; */
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none; 

    
}
.playlist-row::-webkit-scrollbar{
    display: none;
}

.slider-right{
    position: absolute;
    right: 3px;
    top: 215px;
    color: white;
    cursor: pointer;
    z-index: 1;
    background-color:none;
    padding: 15px 8px 15px 8px;
    transition: ease;
}
.slider-right:hover{
    background-color:rgba(0,0,0,0.3);
}
.slider-left{
    position: absolute;
    left: 3px;
    top:  215px;
    color: white;
    cursor: pointer;
    z-index: 1;
    padding: 15px 8px 15px 8px;
    transition: ease;
}
.left-slider-container{
    display: none;
}
.Activator{
    display:initial;
}
.slider-left:hover{
    background-color:rgba(0,0,0,0.3);
}

.playlist-row-1{
    width: 200px;
    height: 250px;
    /* border: 1px solid white; */
    padding: 20px;
    margin-top: 25px;
    background-color:#424040;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.4) ;
   transition: 0.5s;
   border-radius: 8px; 
   position: relative;
}
.playlist-row-1:hover{
    /* box-shadow: 0px 0px 12px 8px rgb(0,0,0,0.8) ; */
    background-color:#575252;
  
}

.playlist-row-1 a img{
    width:151.4px;
    height:180px ;
    border-radius: 8px;
}

.playlist-row-1 a{
    text-decoration: none;
}

.playlist-row-1 h5{
    color: white;
   
    margin-top: 8px;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}

.playlist-row-1 i{
position: absolute;
right:30px;
bottom: 50px;
opacity: 0;
transition: 0.5s;
}

.playlist-row-1:hover i{
    right:30px;
   bottom: 100px;
    opacity: 1;
}






.Playlists-heading-2{
  
    margin-top: 35px;
    color: white;
    font-family: 'Varela', sans-serif;

}

.playlist-row-2{

    width: 100%;
    flex-direction: row; 
    overflow-x:scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    list-style-type: none;
    display: flex;
   gap: 8px;


}
.playlist-row-2::-webkit-scrollbar{
    display: none;
}



.slidering-left{

    color: white;
    position: absolute;
    left: 3px;
    top: 597px;
    cursor: pointer;
    z-index: 1;
    background-color:none;
    padding: 15px 8px 15px 8px;
    transition: ease; 
}

.slidering-left:hover{
    background-color:rgba(0,0,0,0.3); 
}

.slidering-right{
    color: white;
    position: absolute;
    right: 3px;
    top: 597px;
    cursor: pointer;
    z-index: 1;
    background-color:none;
    padding: 15px 8px 15px 8px;
    transition: ease; 
}

.slidering-right:hover{
    background-color:rgba(0,0,0,0.3);
}



.playlist-row-3{

    width: 100%;
       
  overflow-x:scroll;
  -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none; 
  list-style-type: none;
    display: flex;
    flex-direction: row;
   gap: 8px;
}
.playlist-row-3::-webkit-scrollbar{
    display: none;
}

.slidered-left{

    color: white;
    position: absolute;
    left: 3px;
    top: 985px; 
    cursor: pointer;
    z-index: 1;
    background-color:none;
    padding: 15px 8px 15px 8px;
    transition: ease; 
}
.slidered-left:hover{
    background-color:rgba(0,0,0,0.3);
}

.slidered-right{
    color: white;
    position: absolute;
    right: 3px;
    top: 985px;
    cursor: pointer;
    z-index: 1;
    background-color:none;
    padding: 15px 8px 15px 8px;
    transition: ease;

}
.slidered-right:hover{
    background-color:rgba(0,0,0,0.3);
}

.rap-slider-left-container{

    width: 35px;
height: 60px;
background-color: black;
position: absolute;
top: 990px;
left: 5px;
opacity:0;
transition: 0.5s;
cursor: pointer;

}

.rap-slider-left-container:hover{
    opacity:0.5; 
}

.rap-slider-right-container{

    width: 35px;
    height: 60px;
    background-color: black;
    position: absolute;
    top: 990px;
    right: 5px;
    opacity:0;
    transition: 0.5s;
    cursor: pointer;
}
.rap-slider-right-container:hover{
    opacity:0.5;
}

#appear-mob{
    display: none;
}


/* <----------------------MEDIA QUERY---------------------> */

@Media(max-width:799px){
    .container {
       
       
        width: 100%;
       
        margin: 18px 0px;
       
       
        
    }
    .bottom {
        width: 100%;
        height: 150px;
    }

    .icons {
        margin-bottom: 30px;
        margin-top: 8px;
          
    }

    .icons i {
        cursor: pointer;
        margin-left: 15px;
         margin-right: 0px; 
    }
    
    .song-list{
        margin: auto;
    }

    .song-info {
       bottom: 55%;
       left: 11%;
    }

    .bottom input {
        
        margin-bottom: 40px;
    }

    .loop{
        
        top: 100px;
        right: 150px;
        
    }
    #timerupdates{
        
        top:19px;
        left:35.85px ;
        font-size: 15px;
        
    } 
    #durationofsongs{
       
       
        top:19px;
        right:36px ;
        font-size: 15px;
        
    }
    
}

@media(max-width:400px){

    nav{
    
       position: sticky;
       top: 0px;
    }
    #appear-mob{
        display: block;
        margin: 0px 120px 0px -10px;
    }

    #appear-com{
        display: none;
    }
    #none{
        display: none;  
    }
    .song-name{
        font-size: 14px;
    }
    .disable{
        display: none;
    }
    .bottom {
        
        height: 120px;
    }
    .bottom input {
        margin-bottom: 20px;
    }
    #mastersongkey{
        font-size: 11px;
    }

    #gif{
        width: 32px;
    }
    .song-info {
        bottom: 56%;
        
    }
    .loop {
        top: 73px;
        right: 50px;
        font-size: 10px;
    }
    .icons{
        font-size: 13px;
    }
    #timerupdates{
        
        top:20px;
        left:10px ;
        font-size: 11px;
        
    } 
    #durationofsongs{
       
       
        top:20px;
        right:10px ;
        font-size: 11px;
        
    }
}

.timerupdate{
    position: absolute;
    top:29px;
    left:104.85px ;
    color: #fff;
}
.durationofsong{
    position: absolute;
    top:29px;
    right:103px ;
    color: #fff;  
}